.contacts__address{
    font-size: 14px;
    line-height: 20px;
    color: $color-dark-grey;
}
.contacts__text{
font-family: $font-heading;
font-weight: 400;
font-size: 16px;
line-height: 20px;
text-transform: uppercase;
color: $color-black;
}