.contacts__address {
  font-size: 14px;
  line-height: 20px;
  color: $color-dark-grey;
  margin: 0;
}
.contacts__text {
  font-family: $font-heading;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $color-black;
  margin: 0;
}
.contacts__sales {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  padding: 26px 0;
}
// .contacts {
//   height: 474px;
// }
.contacts__map {
  display: block;
  margin: 0 auto;
}
@media (min-width: $breakpoint-tablet) {
  .contacts__sales {
    width: 628px;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 56px;
    margin-bottom: 56px;
  }
  .contacts__text {
    font-size: 20px;
    line-height: 26px;
    width: 172px;
  }
  .contacts__address {
    width: 160px;
    height: 80px;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    margin: 0;
    display: block;
    margin-left: 296px;
  }
  .contacts-city {
    display: block;
    padding-top: 20px;
    box-sizing: border-box;
  }
}
