.footer-page {
  background-color: $color-basic-grey;
  min-height: auto;
}
.footer-page-container{
  width: 281px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}
.footer-logo {
  display: flex;
  justify-content: center;
  padding-top: 39px;
  margin-bottom: 52px;
}
.footer-page__copyrights {
  display: flex;
  justify-content: space-between;
  padding-bottom: 22px;
  align-items: center;
}
@media (min-width: $breakpoint-tablet) {
  .footer-page-container {
    display: flex;
    flex-direction: row;
    width: 708px;
    justify-content: space-around;
    align-items: center;
    width: 708px;
    height: 34px;
    padding-top: 58px;
    padding-bottom: 55px;
    margin-left: auto;
    margin-right: auto;
  }
  .footer-page__logo {
    height: 24px;
  }
  .footer-page__copyrights {
    width: 163px;
    margin: 0;
  }

  .footer-logo {
    margin: 0;
    padding: 0;
  }
}
@media (min-width: $breakpoint-desktop){
  .footer-page-container{
    width: 1220px;
    margin-right: auto;
    margin-left: auto;
  }
}