.form-order{
    font-family: $font-heading;
    color: $color-dark-grey;
    text-transform: uppercase;
}
.form-order__additional{
    font-family: $font-body;
    font-size: 14px;
    line-height: 18px;
    text-transform: none;
}