.instructions__title {
  font-family: $font-heading;
  font-size: 36px;
  line-height: 40px;
  color: $color-black;
  font-weight: 400;
}

.instructions__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.instructions__item:not(:last-child) {
  margin-bottom: 20px;
}
.instructions__item:last-child {
  margin-bottom: 49px;
}
.instructions__item {
  position: relative;
  width: 200px;
  padding-left: 100px;
}
.instructions__item--benefit::before {
  position: absolute;
  content: "";
  display: block;
  background-image: url(../img/list.svg);
  background-size: 60px 60px;
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  left: 0;
}
.instructions__item--fast::before {
  position: absolute;
  content: "";
  display: block;
  background-image: url(../img/group2.svg);
  background-size: 60px 60px;
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  left: 0;
}
.instructions__item--food::before {
  position: absolute;
  content: "";
  display: block;
  background-image: url(../img/group3.svg);
  background-size: 60px 60px;
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  left: 0;
}
.instructions__item--result::before {
  position: absolute;
  content: "";
  display: block;
  background-image: url(../img/group4.svg);
  background-size: 60px 60px;
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  left: 0;
}
@media (min-width: $breakpoint-tablet) {
  .instructions {
    width: 100%;
    margin: 0;
    padding-left: 30px;
    padding-right: 30px;
  }
  .instructions__title {
    font-size: 60px;
    line-height: 60px;
  }
  .instructions__list {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    row-gap: 37px;
    margin-bottom: 47px;
  }
  .instructions__item {
    box-sizing: border-box;
    width: 250px;
    margin: 0;
    padding: 0;
  }
  .instructions__item:last-child {
    margin-bottom: 0;
  }
  .instructions__item:not(:last-child) {
    margin-bottom: 0;
  }
  .instructions__item--benefit {
    background-image: url(../img/1.png);
    background-repeat: no-repeat;
    background-size: 71px 227px;
    background-position: 120px;
    width: 230px;
    min-height: 280px;
    font-size: 16px;
    line-height: 24px;
    padding-top: 150px;
  }
  .instructions__item--benefit::before {
    top: 40px;
    background-size: 80px 80px;
    width: 80px;
    height: 80px;
  }
  .instructions__item--fast {
    background-image: url(../img/2.png);
    background-repeat: no-repeat;
    background-size: 113px 229px;
    background-position: 120px;
    width: 246px;
    min-height: 280px;
    font-size: 16px;
    line-height: 24px;
    padding-top: 150px;
  }
  .instructions__item--fast::before {
    top: 40px;
    background-size: 80px 80px;
    width: 80px;
    height: 80px;
  }
  .instructions__item--food {
    background-image: url(../img/3.png);
    background-repeat: no-repeat;
    background-size: 112px 232px;
    background-position: 120px;
    width: 246px;
    min-height: 280px;
    font-size: 16px;
    line-height: 24px;
    padding-top: 150px;
  }
  .instructions__item--food::before {
    top: 40px;
    background-size: 80px 80px;
    width: 80px;
    height: 80px;
  }
  .instructions__item--result {
    background-image: url(../img/4.png);
    background-repeat: no-repeat;
    background-size: 121px 227px;
    background-position: 130px;
    width: 249px;
    min-height: 280px;
    font-size: 16px;
    line-height: 24px;
    padding-top: 150px;
  }
  .instructions__item--result::before {
    top: 40px;
    background-size: 80px 80px;
    width: 80px;
    height: 80px;
  }
}
@media (min-width: $breakpoint-desktop) {
  .instructions {
    width: 100%;
    padding-left: 110px;
    padding-right: 106px;
  }
  .instructions__title {
    margin-bottom: 32px;
    padding: 0;
  }
  .instructions__list {
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
  }
}
