.logo {
  display: flex;
  justify-content: space-between;
  min-width: 190px;
}
.logo__brand {
  margin-top: 13px;
}

@media (min-width: $breakpoint-tablet) {
  .logo {
  min-width: 174px;
  min-height: 51px;
  margin:0;
  align-items: center;
  }
  .logo__brand{
  margin: 0;
  }
}

@media (min-width: $breakpoint-desktop) {
  .logo {
    margin-right: 15px;
  }
  .logo-brand {
    padding-bottom: 10px;
  }
}
