.page-header__main-nav {
  width: 280px;
  margin-left: auto;
  margin-right: auto;
}
.page-header-bar {
  display: flex;
  justify-content: space-around;
  background-color: $color-white;
}
.page-header__toggle {
  background-image: url(../img/logo/logo-burger.svg);
  background-color: $color-white;
  background-repeat: no-repeat;
  border: none;
  width: 24px;
  height: 20px;
  margin-top: 24px;
}
@media (min-width: $breakpoint-tablet) {
  .page-header__toggle {
    display: none;
  }
}
@media (min-width: $breakpoint-desktop) {
  .page-header__main-nav {
    justify-content: space-between;
  }
  .page-header__main-nav-button {
    margin: 0;
  }
}
