.page-form__description{
    font-family: $font-heading;
    color: $color-black;
    text-transform: uppercase;
}
.form-order{
    font-family: $font-heading;
    color: $color-dark-grey;
    text-transform: uppercase;
}
.add-foods{
    color: $color-black;
}
.form-order__additional{
    font-family: $font-body;
    font-size: 14px;
    line-height: 18px;
    text-transform: none;
}
.page-form__titel{
    font-family: $font-heading;
    font-size: 36px;
    line-height: 36px;
    color: $color-black;
    font-weight: 400;
}