.page-form__description {
  font-family: $font-heading;
  color: $color-black;
  text-transform: uppercase;
}
.page-form__titel {
  font-family: $font-heading;
  font-size: 36px;
  line-height: 36px;
  color: $color-black;
  font-weight: 400;
}
