.progress{
    background-color: $color-grey;
}
.progress__title{
    font-family: $font-heading;
    font-size: 36px;
    line-height: 40px;
    color: $color-green;
    font-weight: 400;
    margin-left: 20px;
}