.programs__info-slim,
.programs__info-fat {
  width: 280px;
  background-color: $color-light-grey;
  background-image: url(../img/cat_back.png);
  background-repeat: no-repeat;
  background-size: 50px 53px;
  margin: 0 auto;
}
.programs__info-fat {
  background-image: url(../img/tiger_back.png);
  background-size: 67px 50px;
  background-position: top 21px;
}
.programs__title {
  font-family: $font-heading;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  color: $color-black;
  text-transform: uppercase;
  margin-left: 90px;
  margin-bottom: 30px;
  padding-top: 30px;
}
.programs__description {
  display: inline-block;
  width: 227px;
  margin: 0;
  margin-left: 20px;
  margin-bottom: 38px;
}
.programs__link {
  display: inline-block;
  font-family: $font-heading;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $color-black;
  text-decoration: none;
  margin-bottom: 18px;
  margin-left: 19px;
}
@media (min-width: $breakpoint-tablet) {
  .programs__info-slim,
  .programs__info-fat {
    display: block;
    box-sizing: border-box;
    width: 708px;
  }
  .programs__info-slim {
    background-size: 200px 211px;
    background-position: 450px;
  }
  .programs__info-fat {
    background-size: 268px 200px;
    background-position: 400px;
  }
  .programs__title {
    font-size: 36px;
    line-height: 36px;
    padding-top: 77px;
    margin-top: 30px;
  }
  .programs__description {
    font-size: 16px;
    line-height: 24px;
    width: 340px;
    margin-bottom: 48px;
  }
  .programs__link {
    display: block;
    padding-bottom: 50px;
  }
  .programs__link{
    font-size: 20px;
    line-height: 30px;
  }
}
