.progress {
  background-color: $color-grey;
}
.progress__title {
  font-family: $font-heading;
  font-size: 36px;
  line-height: 40px;
  color: $color-black;
  font-weight: 400;
  margin: 0;
  margin-bottom: 40px;
  padding-top: 25px;
}
.progress__text {
  width: 280px;
  margin: 0;
  margin-bottom: 20px;
}
.progress__results {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 20px;
}
.progress__numbers {
  font-family: Oswald;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
}
.progress__description {
  width: 77px;
  font-size: 12px;
  line-height: 12px;
  padding-top: 7px;
}
.progress__price {
  font-family: Oswald;
  font-size: 14px;
  line-height: 20px;
  color: $color-black;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 40px;
}
@media (min-width: $breakpoint-tablet) {
  .progress {
    background-color: $color-white;
  }
  .progress__title {
    font-size: 60px;
    line-height: 60px;
  }
  .progress__text {
    font-size: 16px;
    line-height: 24px;
    width: 100%;
    margin-bottom: 54px;
  }
  .progress__example{
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
  }
  .progress__results{
    width: 366x;
    gap: 130px;
  }
  .progress__price{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    line-height: 20px;
    text-align: right;
  }
  .progress__numbers{
    font-size: 30px;
    line-height: 37px;
  }
  .progress__description {
    font-size: 14px;
    line-height: 14px;
  }
  
}
