.promo {
  min-height: 460px;
  background-color: $color-white;
  background-image: url(../img/background/promo-picture.png);
  background-repeat: no-repeat;
  background-origin: border-box;
  background-position: 0px 0px;
  background-size: 320px 302px;
}
.promo__title {
  font-family: $font-heading;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: $color-white;
  margin: 0;
  padding-top: 27px;
  margin-bottom: 25px;
  text-align: center;
}
.promo__button {
  display: block;
  box-sizing: border-box;
  background-color: $color-green;
  width: 280px;
  height: 40px;
  color: $color-white;
  font-family: $font-heading;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  border: none;
  text-decoration: none;
  text-align: center;
  padding: 10px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.promo__slogan {
  font-family: $font-heading;
  font-size: 14px;
  line-height: 14px;
  color: $color-white;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 29px;
}
@media (min-width: $breakpoint-tablet) {
  .promo {
    background-color: $color-white;
    background-image: none;
    min-height: 910px;
    position: relative;
  }
  .promo__main-picture {
    width: 709px;
    height: 609px;
  }
  .promo__title {
    display: inline-block;
    box-sizing: border-box;
    color: $color-black;
    padding: 0;
    margin-left: 117px;
    margin-bottom: 41px;
  }
  .promo__slogan {
    display: block;
    font-size: 20px;
    line-height: 20px;
    color: $color-black;
    text-align: start;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    margin-left: 119px;
  }
  .promo__button {
    position: absolute;
    box-sizing: border-box;
    width: 224px;
    height: 54px;
    bottom: 680px;
    padding: 14px 26px;
    margin: 0;
    margin-left: 120px;
  }
}
@media (min-width: $breakpoint-desktop) {
  .promo {
    background-color: transparent;
    min-height: 555px;
    position: relative;
  }
  .promo::after{
    position: absolute;
    content: "";
    background-image: url(../img/background/promo-picture-table.png);
    width: 720px;
    height:  694px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    top: -191px;
    right: 0;
    bottom: 0;
    left: 50%;
    z-index: -2;
  }
  .promo__main-picture {
    width: 552px;
    height: 499px;
    position: absolute;
    top: 90px;
    right: 220px;
    z-index: -1;
  }
  .promo__button {
    position: static;
    bottom: 185px;
    width: 244px;
    height: 54px;
  }
  .promo__title {
    display: inline-block;
    width: 414px;
    margin-left: 80px;
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 40px;
    margin-top: 111px;
    text-align: left;
  }
  .promo__slogan {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 52px;
  }
}
