.promo {
  min-height: 460px;
  background-color: $color-white;
  background-image: url(../img/main-picture.png),
    url(../img/background/promo-picture.png);
  background-repeat: no-repeat, no-repeat;
  background-size: 95%, 100%;
  background-origin: border-box;
  background-position: bottom 30px center, 0px 0px;
}
.promo__title {
  font-family: $font-heading;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: $color-white;
  margin: 0;
  padding-top: 27px;
  margin-bottom: 25px;
  text-align: center;
}
.promo__button {
  display: block;
  box-sizing: border-box;
  background-color: $color-green;
  width: 280px;
  height: 40px;
  color: $color-white;
  font-family: $font-heading;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  border: none;
  text-decoration: none;
  text-align: center;
  padding: 10px;
  margin: 0 auto;
}
.promo__slogan {
  font-family: $font-heading;
  font-size: 14px;
  line-height: 14px;
  color: $color-white;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 322px;
}
@media (min-width: $breakpoint-tablet) {
  .promo {
    background-color: $color-white;
    background-image: url(../img/main-picture.png);
    background-size: 700px, 600px;
    background-position: top 150px center;
    min-height: 910px;
  }
  .promo__title {
    display: inline-block;
    box-sizing: border-box;
    color: $color-black;
    // width: 414px;
    padding: 0;
    margin-left: 117px;
    margin-bottom: 41px;
  }
  .promo__slogan {
    display: block;
    font-size: 20px;
    line-height: 20px;
    color: $color-black;
    text-align: start;
    margin: 0;
    margin-bottom: 49px;
    padding: 0;
    margin-left: 119px;
  }
  .promo__button.button{
    margin-left: 120px;
  }

}
