.promo{
    background-color: $color-light-grey;
    background-image: url(../img/promo-picture.png);
    background-repeat: no-repeat;
    background-size: 320px, 302px;
}
.promo__title{
    font-family: $font-heading;
    font-size: 36px;
    line-height: 36px;
    font-weight: 400;
    color: $color-white;
}
.promo__button {
    display: inline-block;
    box-sizing: border-box;
    background-color: $color-green;
    width: 280px;
    height: 40px;
    color: $color-white;
    font-family: $font-heading;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    border: none;
    text-decoration: none;
    text-align: center;
    padding: 10px;
}
.promo__slogan{
    font-family: $font-heading;
    font-size: 14px;
    line-height: 14px;
    color: $color-white;
    text-transform: uppercase;
}