.site-menu__link {
  font-family: $font-heading;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  color: $color-black;
}
.site-menu {
  position: absolute;
  background-color: $color-white;
  width: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0;
  border-top: 1px solid $color-grey-line-menu;
  left: 0;
  right: 0;
}
.site-menu__item {
  padding-bottom: 22px;
  padding-top: 22px;
  border-bottom: 1px solid $color-grey-line-menu;
  text-align: center;
}
@media (min-width: $breakpoint-tablet) {
  .site-menu {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-width: 440px;
    min-height: 36px;
    border: none;
    margin-top: 40px;
    margin-left: 94px;
  }
  .site-menu__item {
   padding: 0;
    border: none;
  }
  .site-menu__link {
    font-family: $font-heading;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
  }
  .site-menu__item--current{
    position: relative;
  }
  .site-menu__item--current::after{
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 2px;
    background-color: $color-green;
  }
}
@media (min-width: $breakpoint-desktop) {
  .site-menu {
    display: flex;
    justify-content: space-between;
    width: 478px;
    text-align: center;
    padding: 0;
  }
  .site-menu__link {
    font-size: 20px;
    line-height: 30px;
  }
  .site-menu__item{
    text-align: center;
  }
}
