.switcher__button{
    color: $color-black;
    background-color: transparent;
}
.transformation__slin-cat{
    display: none;
}
.transformation__switcher{
    display: flex;
    width: 210px;
    margin: 0 auto;
}
.progress__transformation{
   padding-bottom: 40px;
}
@media (min-width: $breakpoint-tablet){
    .progress__transformation{
        background-color: $color-grey;
    }
    .transformation__switcher{
        width: 592px;
        justify-content: space-around;
        gap: 13px;
    }
    .switcher__button{
        font-size: 20px;
        line-height: 30px;
        width: 70px;
    }
    .switcher-range{
        width: 100%;
    }
}