.transformation__slin-cat {
  display: none;
}
.transformation__switcher {
  display: flex;
  width: 210px;
  margin: 0 auto;
}
.transformation {
  padding-bottom: 40px;
}
@media (min-width: $breakpoint-tablet) {
  .transformation {
    background-color: $color-grey;
    height: 462px;
    padding: 0;
  }
  .transformation__switcher {
    width: 592px;
    justify-content: space-around;
    gap: 13px;
    margin-bottom: 55px;
  }

  .transformation__fat-cat {
    display: block;
    margin: 0 auto;
  }
}
@media (min-width: $breakpoint-desktop) {
  .transformation {
    background-color: $color-basic-grey;
  }
}
